<h2>
  <span class="mw-headline" id="Two-player_abstract_strategy_games">Two-player abstract strategy games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=1" title="Edit section: Two-player abstract strategy games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<div role="note" class="hatnote">Main article:
  <a href="/wiki/List_of_abstract_strategy_games" title="List of abstract strategy games">List of abstract strategy games</a>
</div>
<p>In
  <a href="/wiki/Abstract_strategy_game" title="Abstract strategy game">abstract strategy games</a>, players know the entire game state at all times, and random generators such as dice are not used.
</p>
<h2>
  <span class="mw-headline" id="Two-player_games">Two-player games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=2" title="Edit section: Two-player games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Abalone_(board_game)" title="Abalone (board game)">Abalone</a>
    </li>
    <li>
      <a href="/wiki/Agon_(game)" title="Agon (game)">Agon</a>
    </li>
    <li>
      <a href="/wiki/Asalto" title="Asalto">Asalto</a>
    </li>
    <li>
      <a href="/wiki/Backgammon" title="Backgammon">Backgammon</a>
    </li>
    <li>
      <a href="/wiki/Battleship_(game)" title="Battleship (game)">Battleship</a>
    </li>
    <li>
      <a href="/wiki/Blockade_(board_game)" title="Blockade (board game)">Blockade</a>
    </li>
    <li>
      <a href="/wiki/Blood_Bowl" title="Blood Bowl">Blood Bowl</a>
    </li>
    <li>
      <a href="/wiki/Bul_(game)" title="Bul (game)">Bul</a>
    </li>
    <li>
      <a href="/wiki/Camelot_(board_game)" title="Camelot (board game)">Camelot</a>
    </li>
    <li>
      <a href="/wiki/Checkers" class="mw-redirect" title="Checkers">Checkers</a>
    </li>
    <li>
      <a href="/wiki/Chess" title="Chess">Chess</a>
    </li>
    <li>
      <a href="/wiki/Cross_and_Circle_game" class="mw-redirect" title="Cross and Circle game">Cross and Circle game</a>
    </li>
    <li>
      <a href="/wiki/Dald%C3%B8s" title="Daldøs">Daldøs</a>
    </li>
    <li>
      <a href="/wiki/Diamond_(game)" title="Diamond (game)">Diamond</a>
    </li>
    <li>
      <a href="/wiki/Downfall_(game)" title="Downfall (game)">Downfall</a>
    </li>
    <li>
      <a href="/wiki/DVONN" title="DVONN">DVONN</a>
    </li>
    <li>
      <a href="/wiki/Fanorona" title="Fanorona">Fanorona</a>
    </li>
    <li>
      <a href="/wiki/Game_of_the_Generals" title="Game of the Generals">Game of the Generals</a>
    </li>
    <li>
      <a href="/wiki/Ghosts_(board_game)" title="Ghosts (board game)">Ghosts</a>
    </li>
    <li>
      <a href="/wiki/Go_(board_game)" class="mw-redirect" title="Go (board game)">Go</a>
    </li>
    <li>
      <a href="/wiki/GIPF_(game)" title="GIPF (game)">Gipf</a>
    </li>
    <li>
      <a href="/wiki/Guess_Who%3F" title="Guess Who?">Guess Who?</a>
    </li>
    <li>
      <a href="/wiki/Hare_and_Hounds_(board_game)" class="mw-redirect" title="Hare and Hounds (board game)">Hare and Hounds</a>
    </li>
    <li>
      <a href="/wiki/Hex_(board_game)" title="Hex (board game)">Hex</a>
    </li>
    <li>
      <a href="/wiki/Hijara" title="Hijara">Hijara</a>
    </li>
    <li>
      <a href="/wiki/Isola_(board_game)" title="Isola (board game)">Isola</a>
    </li>
    <li>
      <a href="/wiki/Janggi" title="Janggi">Janggi</a> (Korean chess)
    </li>
    <li>
      <a href="/wiki/Le_Jeu_de_la_Guerre" class="mw-redirect" title="Le Jeu de la Guerre">Le Jeu de la Guerre</a>
    </li>
    <li>
      <a href="/wiki/Kalah" title="Kalah">Kalah</a>
    </li>
    <li>
      <a href="/wiki/Kamisado" title="Kamisado">Kamisado</a>
    </li>
    <li>
      <a href="/wiki/Liu_po" class="mw-redirect" title="Liu po">Liu po</a>
    </li>
    <li>
      <a href="/wiki/Lost_Cities" title="Lost Cities">Lost Cities</a>
    </li>
    <li>
      <a href="/wiki/Mad_Gab" title="Mad Gab">Mad Gab</a>
    </li>
    <li>
      <a href="/wiki/Mastermind_(board_game)" title="Mastermind (board game)">Master Mind</a>
    </li>
    <li>
      <a href="/wiki/Nine_Men%27s_Morris" title="Nine Men's Morris">Nine Men's Morris</a>
    </li>
    <li>
      <a href="/wiki/Obsession_(board_game)" title="Obsession (board game)">Obsession</a>
    </li>
    <li>
      <a href="/wiki/Onyx_(game)" title="Onyx (game)">Onyx</a>
    </li>
    <li>
      <a href="/wiki/Reversi" title="Reversi">Othello</a>
    </li>
    <li>
      <a href="/wiki/Patolli" title="Patolli">Patolli</a>
    </li>
    <li>
      <a href="/wiki/Plateau_(game)" title="Plateau (game)">Plateau</a>
    </li>
    <li>
      <a href="/wiki/P%C3%9CNCT" title="PÜNCT">PÜNCT</a>
    </li>
    <li>
      <a href="/wiki/Quarto_(board_game)" title="Quarto (board game)">Quarto</a>
    </li>
    <li>
      <a href="/wiki/Rithmomachy" title="Rithmomachy">Rithmomachy</a>
    </li>
    <li>
      <a href="/wiki/S%C3%A1hkku" title="Sáhkku">Sáhkku</a>
    </li>
    <li>
      <a href="/wiki/Senet" title="Senet">Senet</a>
    </li>
    <li>
      <a href="/wiki/Shogi" title="Shogi">Shogi</a>
    </li>
    <li>
      <a href="/wiki/Space_Hulk" title="Space Hulk">Space Hulk</a>
    </li>
    <li>
      <a href="/wiki/Stratego" title="Stratego">Stratego</a>
    </li>
    <li>
      <a href="/wiki/Sugoroku" title="Sugoroku">Sugoroku</a>
    </li>
    <li>
      <a href="/wiki/T%C3%A2b" title="Tâb">Tâb</a>
    </li>
    <li>
      <a href="/wiki/Tablut" class="mw-redirect" title="Tablut">Tablut</a>
    </li>
    <li>
      <a href="/wiki/Tantrix" title="Tantrix">Tantrix</a>
    </li>
    <li>
      <a href="/wiki/Twilight_Struggle" title="Twilight Struggle">Twilight Struggle</a>
    </li>
    <li>
      <a href="/wiki/Wari_(game)" class="mw-redirect" title="Wari (game)">Wari</a>
    </li>
    <li>
      <a href="/wiki/Xiangqi" title="Xiangqi">Xiangqi</a> (Chinese chess)
    </li>
    <li>
      <a href="/wiki/YINSH" title="YINSH">YINSH</a>
    </li>
    <li>
      <a href="/wiki/Z%C3%88RTZ" title="ZÈRTZ">ZÈRTZ</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Multi-player_elimination_games">Multi-player elimination games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=3" title="Edit section: Multi-player elimination games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>Participants are typically eliminated before game end.</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/13_Dead_End_Drive" title="13 Dead End Drive">13 Dead End Drive</a>
    </li>
    <li>
      <a href="/wiki/1313_Dead_End_Drive" title="1313 Dead End Drive">1313 Dead End Drive</a>
    </li>
    <li>
      <a href="/wiki/American_Megafauna" title="American Megafauna">American Megafauna</a>
    </li>
    <li>
      <a href="/wiki/Anti-Monopoly" title="Anti-Monopoly">Anti-Monopoly</a>
    </li>
    <li>
      <a href="/wiki/Attack!_(board_game)" title="Attack! (board game)">Attack!</a>
    </li>
    <li>
      <a href="/wiki/Axis_%26_Allies" title="Axis &amp; Allies">Axis &amp; Allies</a>
    </li>
    <li>
      <a href="/wiki/Bang!_(card_game)" title="Bang! (card game)">Bang!</a>
    </li>
    <li>
      <a href="/wiki/Battle_Sheep" title="Battle Sheep">Battle Sheep</a>
    </li>
    <li>
      <a href="/w/index.php?title=Beat_the_Deal&amp;action=edit&amp;redlink=1" class="new" title="Beat the Deal (page does not exist)">Beat the Deal</a>
    </li>
    <li>
      <a href="/wiki/Betrayal_at_House_on_the_Hill" title="Betrayal at House on the Hill">Betrayal at House on the Hill</a>
    </li>
    <li>
      <a href="/wiki/Blokus" title="Blokus">Blokus</a>
    </li>
    <li>
      <a href="/wiki/Blood_Feud_in_New_York" title="Blood Feud in New York">Blood Feud in New York</a>
    </li>
    <li>
      <a href="/wiki/Blue_Max_(board_game)" title="Blue Max (board game)">Blue Max</a>
    </li>
    <li>
      <a href="/wiki/Bookchase" title="Bookchase">Bookchase</a>
    </li>
    <li>
      <a href="/wiki/Castle_Risk" title="Castle Risk">Castle Risk</a>
    </li>
    <li>
      <a href="/wiki/Clue_Jr.:_Case_of_the_Missing_Pet" class="mw-redirect" title="Clue Jr.: Case of the Missing Pet">Clue Jr.: Case of the Missing Pet</a>
    </li>
    <li>
      <a href="/wiki/Coppit" title="Coppit">Coppit</a>
    </li>
    <li>
      <a href="/wiki/Crash!_The_bankrupt_game" title="Crash! The bankrupt game">Crash! The bankrupt game</a>
    </li>
    <li>
      <a href="/wiki/Diplomacy_(game)" title="Diplomacy (game)">Diplomacy</a>
    </li>
    <li>
      <a href="/wiki/Djambi" title="Djambi">Djambi</a>
    </li>
    <li>
      <a href="/wiki/Doom:_The_Boardgame" title="Doom: The Boardgame">Doom: The Boardgame</a>
    </li>
    <li>
      <a href="/wiki/Eclipse_(board_game)" title="Eclipse (board game)">Eclipse</a>
    </li>
    <li>
      <a href="/wiki/Finance_(game)" title="Finance (game)">Finance</a>
    </li>
    <li>
      <a href="/wiki/Ghettopoly" title="Ghettopoly">Ghettopoly</a>
    </li>
    <li>
      <a href="/wiki/The_Great_Train_Robbery_(board_game)" title="The Great Train Robbery (board game)">The Great Train Robbery</a>
    </li>
    <li>
      <a href="/wiki/Heroscape" title="Heroscape">Heroscape</a>
    </li>
    <li>
      <a href="/wiki/Hey,_That%27s_My_Fish!" title="Hey, That's My Fish!">Hey, That's My Fish!</a>
    </li>
    <li>
      <a href="/wiki/Hotels_(board_game)" class="mw-redirect" title="Hotels (board game)">Hotels</a>
    </li>
    <li>
      <a href="/wiki/Jenga" title="Jenga">Jenga</a>
    </li>
    <li>
      <a href="/wiki/Khet_(game)" title="Khet (game)">Khet</a>
    </li>
    <li>
      <a href="/wiki/King_of_Tokyo" title="King of Tokyo">King of Tokyo</a>
    </li>
    <li>
      <a href="/wiki/King_Oil" title="King Oil">King Oil</a>
    </li>
    <li>
      <a href="/wiki/Ludo_(board_game)" title="Ludo (board game)">Ludo</a>
    </li>
    <li>
      <a href="/wiki/Mikado_(game)" title="Mikado (game)">Mikado</a>
    </li>
    <li>
      <a href="/wiki/Monopoly_(game)" title="Monopoly (game)">Monopoly</a>
    </li>
    <li>
      <a href="/wiki/Monopoly_Junior" title="Monopoly Junior">Monopoly Junior</a>
    </li>
    <li>
      <a href="/wiki/Poleconomy" title="Poleconomy">Poleconomy</a>
    </li>
    <li>
      <a href="/wiki/Risk_(game)" title="Risk (game)">Risk</a>
    </li>
    <li>
      <a href="/wiki/Shadow_Hunters" title="Shadow Hunters">Shadow Hunters</a>
    </li>
    <li>
      <a href="/wiki/Shogun_(1986_board_game)" title="Shogun (1986 board game)">Shogun/Samurai Swords</a>
    </li>
    <li>
      <a href="/wiki/Solarquest" title="Solarquest">Solarquest</a>
    </li>
    <li>
      <a href="/wiki/Spy_Alley" title="Spy Alley">Spy Alley</a>
    </li>
    <li>
      <a href="/wiki/Star_Wars_Epic_Duels" title="Star Wars Epic Duels">Star Wars Epic Duels</a>
    </li>
    <li>
      <a href="/wiki/Star_Wars_Tactics" class="mw-redirect" title="Star Wars Tactics">Star Wars Tactics</a>
    </li>
    <li>
      <a href="/wiki/StarCraft:_The_Board_Game" title="StarCraft: The Board Game">StarCraft: The Board Game</a>
    </li>
    <li>
      <a href="/wiki/Strange_Synergy" title="Strange Synergy">Strange Synergy</a>
    </li>
    <li>
      <a href="/wiki/Summit_(game)" title="Summit (game)">Summit</a>
    </li>
    <li>
      <a href="/wiki/TEG_(board_game)" title="TEG (board game)">TEG</a>
    </li>
    <li>
      <a href="/wiki/Titan_(game)" title="Titan (game)">Titan</a>
    </li>
    <li>
      <a href="/wiki/Tsuro" title="Tsuro">Tsuro</a>
    </li>
    <li>
      <a href="/wiki/Tsuro_of_the_Seas" class="mw-redirect" title="Tsuro of the Seas">Tsuro of the Seas</a>
    </li>
    <li>
      <a href="/wiki/War_on_Terror_(game)" title="War on Terror (game)">War on Terror</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="European_race_games">European race games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=4" title="Edit section: European race games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Cartagena_(board_game)" title="Cartagena (board game)">Cartagena</a>
    </li>
    <li>
      <a href="/wiki/Chicken_Cha_Cha_Cha" title="Chicken Cha Cha Cha">Chicken Cha Cha Cha</a>
    </li>
    <li>
      <a href="/wiki/Formula_D%C3%A9" class="mw-redirect" title="Formula Dé">Formula Dé</a>
    </li>
    <li>
      <a href="/wiki/Game_of_the_Goose" title="Game of the Goose">Game of the Goose</a>
    </li>
    <li>
      <a href="/wiki/Hare_and_Tortoise" title="Hare and Tortoise">Hare and Tortoise</a>
    </li>
    <li>
      <a href="/wiki/Mississippi_Queen_(board_game)" title="Mississippi Queen (board game)">Mississippi Queen</a>
    </li>
    <li>
      <a href="/wiki/Transformers_(board_game)" title="Transformers (board game)">Transformers</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Multiplayer_games_without_elimination">Multiplayer games without elimination</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=5" title="Edit section: Multiplayer games without elimination">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>Everyone can play along to the end. These games are especially suited for mixed play with adults and children.</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/18XX" title="18XX">18XX</a>
    </li>
    <li>
      <a href="/wiki/221B_Baker_Street_(board_game)" title="221B Baker Street (board game)">221B Baker Street</a>
    </li>
    <li>
      <a href="/wiki/30_Seconds_(game)" title="30 Seconds (game)">30 Seconds</a>
    </li>
    <li>
      <a href="/wiki/About_Time_(board_game)" title="About Time (board game)">About Time</a>
    </li>
    <li>
      <a href="/wiki/Acquire" title="Acquire">Acquire</a>
    </li>
    <li>
      <a href="/wiki/Acronymble" title="Acronymble">Acronymble</a>
    </li>
    <li>
      <a href="/wiki/Adel_Verpflichtet" class="mw-redirect" title="Adel Verpflichtet">Adel Verpflichtet</a>
    </li>
    <li>
      <a href="/wiki/Afrikan_t%C3%A4hti" title="Afrikan tähti">Afrikan tähti</a>
    </li>
    <li>
      <a href="/wiki/Agricola_(board_game)" title="Agricola (board game)">Agricola</a>
    </li>
    <li>
      <a href="/wiki/Air_Charter_(game)" title="Air Charter (game)">Air Charter</a>
    </li>
    <li>
      <a href="/wiki/Aksharit" title="Aksharit">Aksharit</a>
    </li>
    <li>
      <a href="/wiki/Aladdin%27s_Dragons" title="Aladdin's Dragons">Aladdin's Dragons</a>
    </li>
    <li>
      <a href="/wiki/Alhambra_(board_game)" title="Alhambra (board game)">Alhambra</a>
    </li>
    <li>
      <a href="/wiki/Alias_(board_game)" title="Alias (board game)">Alias</a>
    </li>
    <li>
      <a href="/wiki/Amun-Re_(board_game)" title="Amun-Re (board game)">Amun-Re</a>
    </li>
    <li>
      <a href="/wiki/Arkham_Horror" title="Arkham Horror">Arkham Horror</a>
    </li>
    <li>
      <a href="/wiki/Articulate_(board_game)" class="mw-redirect" title="Articulate (board game)">Articulate!</a>
    </li>
    <li>
      <a href="/wiki/Ashta_Chamma_(board_game)" title="Ashta Chamma (board game)">Ashta Chamma</a>
    </li>
    <li>
      <a href="/wiki/Auf_Achse" title="Auf Achse">Auf Achse</a>
    </li>
    <li>
      <a href="/wiki/Australia_(board_game)" title="Australia (board game)">Australia</a>
    </li>
    <li>
      <a href="/wiki/Bailout!_The_Game" title="Bailout! The Game">Bailout! The Game</a>
    </li>
    <li>
      <a href="/wiki/Balderdash" title="Balderdash">Balderdash</a>
    </li>
    <li>
      <a href="/wiki/Barbarossa_(board_game)" title="Barbarossa (board game)">Barbarossa</a>
    </li>
    <li>
      <a href="/wiki/Battlestar_Galactica" title="Battlestar Galactica">Battlestar Galactica Board Game &amp; Expansions</a>
    </li>
    <li>
      <a href="/w/index.php?title=Beat_the_Deal&amp;action=edit&amp;redlink=1" class="new" title="Beat the Deal (page does not exist)">Beat the Deal</a>
    </li>
    <li>
      <a href="/wiki/Bezzerwizzer" title="Bezzerwizzer">Bezzerwizzer</a>
    </li>
    <li>
      <a href="/wiki/Blankety_Blank_(board_game)" class="mw-redirect" title="Blankety Blank (board game)">Blankety Blank</a>
    </li>
    <li>Bleff</li>
    <li>
      <a href="/wiki/Blokus" title="Blokus">Blokus</a>
    </li>
    <li>
      <a href="/wiki/Bonkers!_(board_game)" class="mw-redirect" title="Bonkers! (board game)">(This Game Is) Bonkers!</a>
    </li>
    <li>
      <a href="/wiki/Brain_Chain" title="Brain Chain">Brain Chain</a>
    </li>
    <li>
      <a href="/wiki/Brainstorm_(board_game)" title="Brainstorm (board game)">Brainstorm</a>
    </li>
    <li>
      <a href="/wiki/Break_the_Safe" title="Break the Safe">Break the Safe</a>
    </li>
    <li>
      <a href="/wiki/Buccaneer_(game)" title="Buccaneer (game)">Buccaneer</a>
    </li>
    <li>
      <a href="/wiki/Camel_Up" title="Camel Up">Camel Up</a>
    </li>
    <li>
      <a href="/wiki/Candy_Land_(board_game)" class="mw-redirect" title="Candy Land (board game)">Candy Land</a>
    </li>
    <li>
      <a href="/wiki/Can%27t_Stop_(board_game)" title="Can't Stop (board game)">Can't Stop</a>
    </li>
    <li>
      <a href="/wiki/Capitol_(board_game)" title="Capitol (board game)">Capitol</a>
    </li>
    <li>
      <a href="/wiki/Carcassonne_(board_game)" title="Carcassonne (board game)">Carcassonne</a>
    </li>
    <li>
      <a href="/wiki/Careers_(board_game)" title="Careers (board game)">Careers</a>
    </li>
    <li>
      <a href="/wiki/Caribbean_(board_game)" title="Caribbean (board game)">Caribbean</a>
    </li>
    <li>
      <a href="/wiki/Cartagena_(board_game)" title="Cartagena (board game)">Cartagena</a>
    </li>
    <li>
      <a href="/wiki/Caylus" title="Caylus">Caylus</a>
    </li>
    <li>
      <a href="/wiki/Chromino" title="Chromino">Chromino</a>
    </li>
    <li>
      <a href="/wiki/CirKis" title="CirKis">CirKis</a>
    </li>
    <li>
      <a href="/wiki/Civilization_(1980_board_game)" title="Civilization (1980 board game)">Civilization</a>
    </li>
    <li>
      <a href="/wiki/Clans_(board_game)" title="Clans (board game)">Clans</a>
    </li>
    <li>
      <a href="/wiki/Cluedo" title="Cluedo">Clue</a>/
      <a href="/wiki/Cluedo" title="Cluedo">Cluedo</a>
    </li>
    <li>
      <a href="/wiki/Codenames_(board_game)" title="Codenames (board game)">Codenames</a>
    </li>
    <li>
      <a href="/wiki/Concept_(board_game)" title="Concept (board game)">Concept</a>
    </li>
    <li>
      <a href="/wiki/Conspiracy_(board_game)" title="Conspiracy (board game)">Conspiracy</a>
    </li>
    <li>
      <a href="/wiki/Cosmic_Encounter" title="Cosmic Encounter">Cosmic Encounter</a>
    </li>
    <li>
      <a href="/wiki/Cranium_(board_game)" title="Cranium (board game)">Cranium</a>
    </li>
    <li>
      <a href="/wiki/Crosstrack" title="Crosstrack">Crosstrack</a>
    </li>
    <li>
      <a href="/wiki/Dark_Tower_(game)" title="Dark Tower (game)">Dark Tower</a>
    </li>
    <li>
      <a href="/wiki/Dead_of_Winter:_A_Cross_Roads_Game" title="Dead of Winter: A Cross Roads Game">Dead of Winter: A Cross Roads Game</a>
    </li>
    <li>
      <a href="/wiki/Diamant_(game)" class="mw-redirect" title="Diamant (game)">Diamant</a>
    </li>
    <li>Dígalo con lápiz</li>
    <li>
      <a href="/wiki/Dixit_(card_game)" title="Dixit (card game)">Dixit</a>
    </li>
    <li>
      <a href="/wiki/Domaine" class="mw-redirect" title="Domaine">Domaine</a>
    </li>
    <li>
      <a href="/wiki/Dominion_(game)" class="mw-redirect" title="Dominion (game)">Dominion</a>
    </li>
    <li>
      <a href="/wiki/Don%27t_Miss_The_Boat" title="Don't Miss The Boat">Don't Miss The Boat</a>
    </li>
    <li>
      <a href="/wiki/Don%27t_Quote_Me" title="Don't Quote Me">Don't Quote Me</a>
    </li>
    <li>
      <a href="/wiki/Dorn_(board_game)" title="Dorn (board game)">Dorn</a>
    </li>
    <li>
      <a href="/wiki/Drunter_und_Dr%C3%BCber" title="Drunter und Drüber">Drunter und Drüber</a>
    </li>
    <li>
      <a href="/wiki/Dune_(board_game)" title="Dune (board game)">Dune</a>
    </li>
    <li>
      <a href="/wiki/Dungeons_%26_Dragons" title="Dungeons &amp; Dragons">Dungeons &amp; Dragons</a>
    </li>
    <li>
      <a href="/wiki/El_Grande" title="El Grande">El Grande</a>
    </li>
    <li>
      <a href="/wiki/Elfenland" title="Elfenland">Elfenland</a>
    </li>
    <li>
      <a href="/wiki/Enchanted_Forest_(game)" title="Enchanted Forest (game)">Enchanted Forest</a>
    </li>
    <li>
      <a href="/wiki/Entdecker" title="Entdecker">Entdecker</a>
    </li>
    <li>
      <a href="/wiki/Escape_from_Atlantis" title="Escape from Atlantis">Escape from Atlantis</a>
    </li>
    <li>
      <a href="https://es.wikipedia.org/wiki/Estanciero_(juego)" class="extiw" title="es:Estanciero (juego)">es:Estanciero (juego)</a>
    </li>
    <li>
      <a href="/wiki/Evo_(board_game)" title="Evo (board game)">Evo</a>
    </li>
    <li>Experimental</li>
    <li>
      <a href="/wiki/Farlander" title="Farlander">Farlander</a>
    </li>
    <li>
      <a href="/wiki/Fictionary" title="Fictionary">Fictionary</a>
    </li>
    <li>
      <a href="/wiki/Figure_It_Out_(board_game)" title="Figure It Out (board game)">Figure It Out</a>
    </li>
    <li>
      <a href="/wiki/Fireball_Island" title="Fireball Island">Fireball Island</a>
    </li>
    <li>
      <a href="/wiki/Focus_(board_game)" title="Focus (board game)">Focus</a>
    </li>
    <li>
      <a href="/wiki/Fresco_(board_game)" title="Fresco (board game)">Fresco</a>
    </li>
    <li>
      <a href="/wiki/Game_For_Fame_the_Party_Board_Game" class="mw-redirect" title="Game For Fame the Party Board Game">Game For Fame the Party Board Game</a>
    </li>
    <li>
      <a href="/wiki/GiftTRAP" class="mw-redirect" title="GiftTRAP">GiftTRAP</a>
    </li>
    <li>
      <a href="/wiki/Giganten" class="mw-redirect" title="Giganten">Giganten</a>
    </li>
    <li>
      <a href="/wiki/Girl_Talk_(game)" class="mw-redirect" title="Girl Talk (game)">Girl Talk</a>
    </li>
    <li>
      <a href="/wiki/Go_(modern_board_game)" class="mw-redirect" title="Go (modern board game)">Go</a>
    </li>
    <li>
      <a href="/wiki/Great_train_robbery_board_game" class="mw-redirect" title="Great train robbery board game">Great Train Robbery</a>
    </li>
    <li>
      <a href="/wiki/GridIron_Master" title="GridIron Master">GridIron Master</a>
    </li>
    <li>
      <a href="/wiki/History_of_the_World_(board_game)" title="History of the World (board game)">History of the World</a>
    </li>
    <li>
      <a href="/wiki/Hooop!" title="Hooop!">Hooop!</a>
    </li>
    <li>
      <a href="/wiki/Husker_Du%3F" class="mw-redirect" title="Husker Du?">Husker Du?</a>
    </li>
    <li>
      <a href="/wiki/I%27m_the_Boss!" title="I'm the Boss!">I'm the Boss!</a>
    </li>
    <li>
      <a href="/wiki/Imperial_(board_game)" title="Imperial (board game)">Imperial</a>
    </li>
    <li>Indicios</li>
    <li>
      <a href="/wiki/Indigo_(board_game)" title="Indigo (board game)">Indigo</a>
    </li>
    <li>
      <a href="/wiki/Ingenious_(board_game)" title="Ingenious (board game)">Ingenious</a>
    </li>
    <li>
      <a href="/wiki/Inkan_aarre" title="Inkan aarre">Inkan aarre</a>
    </li>
    <li>
      <a href="/wiki/Java_(board_game)" title="Java (board game)">Java</a>
    </li>
    <li>
      <a href="/wiki/Journey_through_Europe" class="mw-redirect" title="Journey through Europe">Journey through Europe</a>
    </li>
    <li>
      <a href="/wiki/Junta_(game)" title="Junta (game)">Junta</a>
    </li>
    <li>
      <a href="/wiki/Kill_Doctor_Lucky" title="Kill Doctor Lucky">Kill Doctor Lucky</a>
    </li>
    <li>
      <a href="/wiki/Kingdoms_(board_game)" title="Kingdoms (board game)">Kingdoms</a>
    </li>
    <li>
      <a href="/wiki/Landslide_(board_game)" title="Landslide (board game)">Landslide</a>
    </li>
    <li>
      <a href="/wiki/Las_Vegas_(board_game)" title="Las Vegas (board game)">Las Vegas</a>
    </li>
    <li>
      <a href="/wiki/Le_Havre_(board_game)" title="Le Havre (board game)">Le Havre</a>
    </li>
    <li>
      <a href="/wiki/The_Game_of_Life" title="The Game of Life">Life</a>
    </li>
    <li>
      <a href="/wiki/Logo_Board_Game" title="Logo Board Game">Logo Board Game</a>
    </li>
    <li>
      <a href="/wiki/The_London_Game" title="The London Game">The London Game</a>
    </li>
    <li>
      <a href="/wiki/Lords_of_Waterdeep" title="Lords of Waterdeep">Lords of Waterdeep</a>
    </li>
    <li>
      <a href="/w/index.php?title=Lost_Cities_Board_Game&amp;action=edit&amp;redlink=1" class="new" title="Lost Cities Board Game (page does not exist)">Lost Cities Board Game</a>
    </li>
    <li>
      <a href="/wiki/L%C3%B6wenherz" title="Löwenherz">Löwenherz</a>
    </li>
    <li>
      <a href="/wiki/Luck_of_the_Draw_(board_game)" title="Luck of the Draw (board game)">Luck of the Draw</a>
    </li>
    <li>
      <a href="/wiki/Die_Macher" title="Die Macher">Die Macher</a>
    </li>
    <li>
      <a href="/wiki/The_Mad_Magazine_Game" title="The Mad Magazine Game">The Mad Magazine Game</a>
    </li>
    <li>
      <a href="/wiki/The_Magic_Labyrinth_(board_game)" title="The Magic Labyrinth (board game)">The Magic Labyrinth</a>
    </li>
    <li>
      <a href="/wiki/Mahjong" title="Mahjong">Mahjong</a>
    </li>
    <li>
      <a href="/wiki/Malefiz" title="Malefiz">Malefiz</a>
    </li>
    <li>
      <a href="/wiki/Mall_Madness" title="Mall Madness">Mall Madness</a>
    </li>
    <li>
      <a href="/wiki/Manhattan_(game)" class="mw-redirect" title="Manhattan (game)">Manhattan</a>
    </li>
    <li>
      <a href="/wiki/Master_Labyrinth" class="mw-redirect" title="Master Labyrinth">Master Labyrinth</a>
    </li>
    <li>
      <a href="/wiki/Masterpiece_(game)" title="Masterpiece (game)">Masterpiece</a>
    </li>
    <li>
      <a href="/wiki/Medici_(board_game)" title="Medici (board game)">Medici</a>
    </li>
    <li>
      <a href="/wiki/Medina_(board_game)" title="Medina (board game)">Medina</a>
    </li>
    <li>
      <a href="/wiki/Mensch_%C3%A4rgere_dich_nicht" title="Mensch ärgere dich nicht">Mensch ärgere dich nicht</a>
    </li>
    <li>
      <a href="/wiki/Merchant_of_Venus" title="Merchant of Venus">Merchant of Venus</a>
    </li>
    <li>
      <a href="/wiki/Mexica_(board_game)" title="Mexica (board game)">Mexica</a>
    </li>
    <li>
      <a href="/wiki/Mine_a_million" class="mw-redirect" title="Mine a million">Mine a million</a>
    </li>
    <li>
      <a href="/wiki/Modern_Art_(game)" title="Modern Art (game)">Modern Art</a>
    </li>
    <li>
      <a href="/wiki/Mutant_Meeples" title="Mutant Meeples">Mutant Meeples</a>
    </li>
    <li>
      <a href="/wiki/Niagara_(board_game)" title="Niagara (board game)">Niagara</a>
    </li>
    <li>
      <a href="/wiki/Okey" title="Okey">Okey</a>
    </li>
    <li>
      <a href="/wiki/Omega_Virus" title="Omega Virus">Omega Virus</a>
    </li>
    <li>
      <a href="/wiki/Ouija" title="Ouija">Ouija</a>
    </li>
    <li>
      <a href="/wiki/Outrage!_(game)" title="Outrage! (game)">Outrage!</a>
    </li>
    <li>
      <a href="/wiki/Pack_%26_Stack" title="Pack &amp; Stack">Pack &amp; Stack</a>
    </li>
    <li>
      <a href="/wiki/Pandemic_(board_game)" title="Pandemic (board game)">Pandemic</a>
    </li>
    <li>
      <a href="/wiki/Parcheesi" title="Parcheesi">Parcheesi</a>
    </li>
    <li>
      <a href="/wiki/Parqu%C3%A9s" title="Parqués">Parqués</a>
    </li>
    <li>
      <a href="/wiki/Pay_Day_(board_game)" title="Pay Day (board game)">Pay Day</a>
    </li>
    <li>
      <a href="/wiki/Personal_Preference" title="Personal Preference">Personal Preference</a>
    </li>
    <li>Petit Microscope</li>
    <li>
      <a href="/wiki/Pictionary" title="Pictionary">Pictionary</a>
    </li>
    <li>
      <a href="/wiki/Pirate%27s_Cove" title="Pirate's Cove">Pirate's Cove</a>
    </li>
    <li>
      <a href="/wiki/Power_Grid" title="Power Grid">Power Grid</a>
    </li>
    <li>
      <a href="/wiki/Primordial_Soup_(board_game)" title="Primordial Soup (board game)">Primordial Soup</a>
    </li>
    <li>
      <a href="/wiki/Princes_of_Florence" class="mw-redirect" title="Princes of Florence">Princes of Florence</a>
    </li>
    <li>
      <a href="/wiki/Puerto_Rico_(game)" class="mw-redirect" title="Puerto Rico (game)">Puerto Rico</a>
    </li>
    <li>
      <a href="/wiki/Puzzle" title="Puzzle">Puzzle</a>
    </li>
    <li>
      <a href="/wiki/Qin_(board_game)" title="Qin (board game)">Qin</a>
    </li>
    <li>
      <a href="/wiki/Quoridor" title="Quoridor">Quoridor</a>
    </li>
    <li>
      <a href="/wiki/Qwirkle" title="Qwirkle">Qwirkle</a>
    </li>
    <li>
      <a href="/wiki/Ra_(board_game)" title="Ra (board game)">Ra</a>
    </li>
    <li>
      <a href="/wiki/Rail_Baron_(game)" class="mw-redirect" title="Rail Baron (game)">Rail Baron</a>
    </li>
    <li>
      <a href="/wiki/Rappakalja" class="mw-redirect" title="Rappakalja">Rappakalja</a>
    </li>
    <li>
      <a href="/wiki/Razzia_(board_game)" class="mw-redirect" title="Razzia (board game)">Razzia</a>
    </li>
    <li>
      <a href="/wiki/The_Really_Nasty_Horse_Racing_Game" title="The Really Nasty Horse Racing Game">The Really Nasty Horse Racing Game</a>
    </li>
    <li>
      <a href="/wiki/Ricochet_Robots" class="mw-redirect" title="Ricochet Robots">Ricochet Robots</a>
    </li>
    <li>
      <a href="/wiki/Rivers,_Roads_%26_Rails" title="Rivers, Roads &amp; Rails">Rivers, Roads &amp; Rails</a>
    </li>
    <li>
      <a href="/wiki/RoboRally" title="RoboRally">RoboRally</a>
    </li>
    <li>
      <a href="/wiki/Roulette" title="Roulette">Roulette</a>
    </li>
    <li>
      <a href="/wiki/Rummikub" title="Rummikub">Rummikub</a>
    </li>
    <li>
      <a href="/wiki/Rummoli" title="Rummoli">Rummoli</a>
    </li>
    <li>
      <a href="/wiki/Saint_Petersburg_(board_game)" title="Saint Petersburg (board game)">Saint Petersburg</a>
    </li>
    <li>
      <a href="/wiki/Samurai_(game)" class="mw-redirect" title="Samurai (game)">Samurai</a>
    </li>
    <li>
      <a href="/wiki/San_Marco_(board_game)" title="San Marco (board game)">San Marco</a>
    </li>
    <li>
      <a href="/wiki/Scattergories" title="Scattergories">Scattergories</a>
    </li>
    <li>
      <a href="/wiki/Scene_It" class="mw-redirect" title="Scene It">Scene It</a>
    </li>
    <li>
      <a href="/wiki/Scotland_Yard_(board_game)" title="Scotland Yard (board game)">Scotland Yard</a>
    </li>
    <li>
      <a href="/wiki/Scoundrels_of_Skullport" title="Scoundrels of Skullport">Scoundrels of Skullport</a>
    </li>
    <li>
      <a href="/wiki/Scrabble" title="Scrabble">Scrabble</a>
    </li>
    <li>
      <a href="/wiki/Sequence_(board_game)" class="mw-redirect" title="Sequence (board game)">Sequence</a>
    </li>
    <li>
      <a href="/wiki/The_Settlers_of_Catan" class="mw-redirect" title="The Settlers of Catan">The Settlers of Catan</a>
    </li>
    <li>
      <a href="/wiki/Shadows_over_Camelot" class="mw-redirect" title="Shadows over Camelot">Shadows over Camelot</a>
    </li>
    <li>
      <a href="/wiki/Sherlock_Holmes:_Consulting_Detective" title="Sherlock Holmes: Consulting Detective">Sherlock Holmes: Consulting Detective</a>
    </li>
    <li>
      <a href="/wiki/Skirrid_(board_game)" title="Skirrid (board game)">Skirrid</a>
    </li>
    <li>
      <a href="/wiki/Small_World_(board_game)" title="Small World (board game)">Small World</a>
    </li>
    <li>
      <a href="/wiki/Snakes_and_Ladders" title="Snakes and Ladders">Snakes and Ladders</a>
    </li>
    <li>
      <a href="/wiki/Sorry!_(game)" title="Sorry! (game)">Sorry!</a>
    </li>
    <li>
      <a href="/wiki/Splendor_(board_game)" title="Splendor (board game)">Splendor</a>
    </li>
    <li>
      <a href="/wiki/Squatter_(game)" title="Squatter (game)">Squatter</a>
    </li>
    <li>
      <a href="/wiki/Stock_Ticker" title="Stock Ticker">Stock Ticker</a>
    </li>
    <li>
      <a href="/wiki/Taj_Mahal_(board_game)" title="Taj Mahal (board game)">Taj Mahal</a>
    </li>
    <li>
      <a href="/wiki/Take_It_Easy_(game)" title="Take It Easy (game)">Take It Easy</a>
    </li>
    <li>
      <a href="/wiki/Take_Off!_(game)" class="mw-redirect" title="Take Off! (game)">Take Off!</a>
    </li>
    <li>
      <a href="/wiki/Terra_Mystica" title="Terra Mystica">Terra Mystica</a>
    </li>
    <li>
      <a href="/wiki/Through_the_Desert" title="Through the Desert">Through the Desert</a>
    </li>
    <li>
      <a href="/wiki/Thurn_and_Taxis_(board_game)" title="Thurn and Taxis (board game)">Thurn and Taxis</a>
    </li>
    <li>
      <a href="/wiki/Ticket_to_Ride_(board_game)" title="Ticket to Ride (board game)">Ticket to Ride</a>
    </li>
    <li>
      <a href="/wiki/Euphrat_und_Tigris" class="mw-redirect" title="Euphrat und Tigris">Tigris &amp; Euphrates</a>
    </li>
    <li>
      <a href="/wiki/Tikal_(board_game)" title="Tikal (board game)">Tikal</a>
    </li>
    <li>
      <a href="/wiki/Timberland_(board_game)" title="Timberland (board game)">Timberland</a>
    </li>
    <li>
      <a href="/wiki/Time%27s_Up!_(game)" title="Time's Up! (game)">Time's Up!</a>
    </li>
    <li>
      <a href="/wiki/Top_Secret_Spies" title="Top Secret Spies">Top Secret Spies</a>
    </li>
    <li>
      <a href="/wiki/Torres_(board_game)" title="Torres (board game)">Torres</a>
    </li>
    <li>
      <a href="/wiki/Totopoly" title="Totopoly">Totopoly</a>
    </li>
    <li>
      <a href="/wiki/Tracks_to_Telluride" title="Tracks to Telluride">Tracks to Telluride</a>
    </li>
    <li>
      <a href="/wiki/TransAmerica_(board_game)" title="TransAmerica (board game)">TransAmerica</a>
    </li>
    <li>
      <a href="/wiki/Trivia_Crack" title="Trivia Crack">Trivia Crack</a>
    </li>
    <li>
      <a href="/wiki/Trivial_Pursuit" title="Trivial Pursuit">Trivial Pursuit</a>
    </li>
    <li>
      <a href="/wiki/Trouble_(board_game)" title="Trouble (board game)">Trouble</a>
    </li>
    <li>
      <a href="/wiki/Twilight_Imperium" title="Twilight Imperium">Twilight Imperium</a>
    </li>
    <li>
      <a href="/wiki/Twin_Tin_Bots" title="Twin Tin Bots">Twin Tin Bots</a>
    </li>
    <li>
      <a href="/wiki/Ubongo" title="Ubongo">Ubongo</a>
    </li>
    <li>
      <a href="/wiki/Upwords" title="Upwords">Upwords</a>
    </li>
    <li>
      <a href="/wiki/Vanished_Planet" title="Vanished Planet">Vanished Planet</a>
    </li>
    <li>
      <a href="/wiki/Vinci_(board_game)" title="Vinci (board game)">Vinci</a>
    </li>
    <li>
      <a href="/wiki/Yahtzee" title="Yahtzee">Yahtzee</a>
    </li>
    <li>
      <a href="/wiki/Yut" title="Yut">Yut</a>
    </li>
    <li>
      <a href="/wiki/Zombies!!!" title="Zombies!!!">Zombies!!!</a>
    </li>
    <li>
      <a href="/wiki/Zoophoria" title="Zoophoria">Zoophoria</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Economics_and_strategy_games">Economics and strategy games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=6" title="Edit section: Economics and strategy games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>Games involving scarce resources and strategy.</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Acquire" title="Acquire">Acquire</a>
    </li>
    <li>
      <a href="/wiki/Junta_(board_game)" class="mw-redirect" title="Junta (board game)">Junta</a>
    </li>
    <li>
      <a href="/wiki/Kolejka_(game)" title="Kolejka (game)">Kolejka</a>
    </li>
    <li>
      <a href="/wiki/K%C3%B8benhavn_(board_game)" title="København (board game)">København</a>
    </li>
    <li>
      <a href="/wiki/Monopoly_(board_game)" class="mw-redirect" title="Monopoly (board game)">Monopoly</a>
    </li>
    <li>
      <a href="/wiki/Power_Grid" title="Power Grid">Power Grid</a>
    </li>
    <li>
      <a href="/wiki/Risk_(game)" title="Risk (game)">Risk</a>
    </li>
    <li>
      <a href="/wiki/Risk_2210_AD" class="mw-redirect" title="Risk 2210 AD">Risk 2210 AD</a>
    </li>
    <li>
      <a href="/wiki/Sentinels_of_the_Multiverse" title="Sentinels of the Multiverse">Sentinels of the Multiverse</a>
    </li>
    <li>
      <a href="/wiki/The_Settlers_of_Catan" class="mw-redirect" title="The Settlers of Catan">The Settlers of Catan</a>
    </li>
    <li>
      <a href="/wiki/Ticket_to_Ride_(board_game)" title="Ticket to Ride (board game)">Ticket to Ride</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Games_of_physical_skill">Games of physical skill</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=7" title="Edit section: Games of physical skill">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>Coordination, finesse, or other physical skills are necessary. Also known as dexterity games.</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Blockhead!" title="Blockhead!">Blockhead!</a>
    </li>
    <li>
      <a href="/wiki/Buckaroo_(game)" class="mw-redirect" title="Buckaroo (game)">Buckaroo</a>
    </li>
    <li>
      <a href="/wiki/Camp_Granada" title="Camp Granada">Camp Granada</a>
    </li>
    <li>
      <a href="/wiki/Carrom" title="Carrom">Carrom</a>
    </li>
    <li>
      <a href="/wiki/Chapayev_(game)" title="Chapayev (game)">Chapayev</a>
    </li>
    <li>
      <a href="/wiki/Crokinole" title="Crokinole">Crokinole</a>
    </li>
    <li>
      <a href="/wiki/Dart_Wars" class="mw-redirect" title="Dart Wars">Dart Wars</a>
    </li>
    <li>
      <a href="/wiki/Gnip_Gnop" title="Gnip Gnop">Gnip Gnop</a>
    </li>
    <li>
      <a href="/wiki/Hungry_Hungry_Hippos" title="Hungry Hungry Hippos">Hungry Hungry Hippos</a>
    </li>
    <li>
      <a href="/wiki/Jenga" title="Jenga">Jenga</a>
    </li>
    <li>
      <a href="/wiki/KerPlunk_(game)" title="KerPlunk (game)">Kerplunk</a>
    </li>
    <li>
      <a href="/wiki/Krazy_Maze" title="Krazy Maze">Krazy Maze</a>
    </li>
    <li>
      <a href="/wiki/Operation_(game)" title="Operation (game)">Operation</a>
    </li>
    <li>
      <a href="/wiki/Perfection_(game)" class="mw-redirect" title="Perfection (game)">Perfection</a>
    </li>
    <li>
      <a href="/wiki/Polarity_(game)" title="Polarity (game)">Polarity</a>
    </li>
    <li>
      <a href="/wiki/Subbuteo" title="Subbuteo">Subbuteo</a>
    </li>
    <li>
      <a href="/wiki/Twister_(game)" title="Twister (game)">Twister</a>
    </li>
    <li>
      <a href="/wiki/Villa_Paletti" title="Villa Paletti">Villa Paletti</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Children.27s_games">Children's games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=8" title="Edit section: Children's games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>The rules are easy to learn and the outcome is mostly or entirely due to chance.</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Candy_Land_game" class="mw-redirect" title="Candy Land game">Candy Land</a>
    </li>
    <li>
      <a href="/wiki/Catan" title="Catan">Catan Junior</a>
    </li>
    <li>
      <a href="/wiki/Chicken_Cha_Cha_Cha" title="Chicken Cha Cha Cha">Chicken Cha Cha Cha</a>
    </li>
    <li>
      <a href="/wiki/Don%27t_Break_the_Ice" title="Don't Break the Ice">Don't Break the Ice</a>
    </li>
    <li>
      <a href="/wiki/Don%27t_Wake_Daddy" title="Don't Wake Daddy">Don't Wake Daddy</a>
    </li>
    <li>
      <a href="/wiki/Forbidden_Bridge" title="Forbidden Bridge">Forbidden Bridge</a>
    </li>
    <li>
      <a href="/wiki/Hey_Pa!_There%27s_a_Goat_on_the_Roof" title="Hey Pa! There's a Goat on the Roof">Hey Pa! There's a Goat on the Roof</a>
    </li>
    <li>
      <a href="/wiki/Hi_Ho!_Cherry-O" title="Hi Ho! Cherry-O">Hi Ho! Cherry-O</a>
    </li>
    <li>
      <a href="/wiki/Hungry_Hungry_Hippos" title="Hungry Hungry Hippos">Hungry Hungry Hippos</a>
    </li>
    <li>
      <a href="/wiki/The_Kids_of_Catan" title="The Kids of Catan">The Kids of Catan</a>
    </li>
    <li>
      <a href="/wiki/Ludo_(game)" class="mw-redirect" title="Ludo (game)">Ludo</a>
    </li>
    <li>
      <a href="/wiki/Mouse_Trap_(board_game)" class="mw-redirect" title="Mouse Trap (board game)">Mouse Trap</a>
    </li>
    <li>
      <a href="/wiki/Snakes_and_ladders" class="mw-redirect" title="Snakes and ladders">Snakes and ladders</a> (aka Chutes and Ladders)
    </li>
    <li>
      <a href="/wiki/Sorry!_(game)" title="Sorry! (game)">Sorry!</a>
    </li>
    <li>
      <a href="/wiki/Space_Hop" title="Space Hop">Space Hop</a>
    </li>
    <li>
      <a href="/wiki/Uncle_Wiggily_(board_game)" title="Uncle Wiggily (board game)">Uncle Wiggily</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Cooperative_games">Cooperative games</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=9" title="Edit section: Cooperative games">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>
  <a href="/wiki/Cooperative_game" class="mw-redirect" title="Cooperative game">Cooperative games</a> in which all players need to work together to win.
</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Arkham_Horror" title="Arkham Horror">Arkham Horror</a>
    </li>
    <li>
      <a href="/wiki/Battlestar_Galactica:_The_Board_Game" title="Battlestar Galactica: The Board Game">Battlestar Galactica: The Board Game</a>
    </li>
    <li>
      <a href="/wiki/Betrayal_at_House_on_the_Hill" title="Betrayal at House on the Hill">Betrayal at House on the Hill</a>
    </li>
    <li>
      <a href="/wiki/Castle_Panic" title="Castle Panic">Castle Panic</a>
    </li>
    <li>
      <a href="/w/index.php?title=Defenders_of_the_Realm&amp;action=edit&amp;redlink=1" class="new" title="Defenders of the Realm (page does not exist)">Defenders of the Realm</a>
    </li>
    <li>
      <a href="/wiki/Forbidden_Island_(game)" title="Forbidden Island (game)">Forbidden Island</a>
    </li>
    <li>
      <a href="/wiki/Freedom:_The_Underground_Railroad" title="Freedom: The Underground Railroad">Freedom: The Underground Railroad</a>
    </li>
    <li>
      <a href="/w/index.php?title=Legendary:_A_Marvel_Deck_Building_Game&amp;action=edit&amp;redlink=1" class="new" title="Legendary: A Marvel Deck Building Game (page does not exist)">Legendary: A Marvel Deck Building Game</a>
    </li>
    <li>
      <a href="/wiki/Lord_of_the_Rings_(board_game)" title="Lord of the Rings (board game)">Lord of the Rings</a>
    </li>
    <li>
      <a href="/wiki/Pandemic_(board_game)" title="Pandemic (board game)">Pandemic</a>
    </li>
    <li>
      <a href="/wiki/Space_Cadets" class="mw-disambig" title="Space Cadets">Space Cadets</a>
    </li>
    <li>
      <a href="/wiki/Sentinels_of_the_Multiverse" title="Sentinels of the Multiverse">Sentinels of the Multiverse</a>
    </li>
    <li>
      <a href="/wiki/Shadows_Over_Camelot" title="Shadows Over Camelot">Shadows Over Camelot</a>
    </li>
    <li>
      <a href="/wiki/Space_Alert" title="Space Alert">Space Alert</a>
    </li>
    <li>
      <a href="/wiki/X-COM" title="X-COM">X-COM</a>
    </li>
  </ul>
</div>
<h2>
  <span class="mw-headline" id="Gaming_systems">Gaming systems</span>
  <span class="mw-editsection">
    <span class="mw-editsection-bracket">[</span>
    <a href="/w/index.php?title=List_of_board_games&amp;action=edit&amp;section=10" title="Edit section: Gaming systems">edit</a>
    <span class="mw-editsection-bracket">]</span>
  </span>
</h2>
<p>These are sets that can be used to play multiple games.</p>
<div class="div-col columns column-count column-count-4" style="-moz-column-count: 4; -webkit-column-count: 4; column-count: 4;">
  <ul>
    <li>
      <a href="/wiki/Flibbix" title="Flibbix">Flibbix</a>
    </li>
    <li>
      <a href="/wiki/Hanafuda" title="Hanafuda">Hanafuda</a>
    </li>
    <li>
      <a href="/wiki/Icehouse_pieces" title="Icehouse pieces">Icehouse pieces</a>
    </li>
    <li>
      <a href="/wiki/Stonehenge_(game)" title="Stonehenge (game)">Stonehenge</a>
    </li>
  </ul>
</div>
