<% if @errors %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@errors.count, "error") %> prohibited
      this article from being saved:
    </p>
    <ul>
      <% @errors.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
