<div class="ui grid center aligned container">

  <div class="center">
      <%= image_tag("realkinectlogo.png", :alt => "(kin)ect4", height: '142', width: '460') %>

  </div>

  <div class="row">
    <div class="center">
      <table class="categories">
        <tr class="ce">
        <% @categories.each do |category| %>
          <td>
          <%= button_to category.name, search_path(category), method: :get, class: "ui button categories" %>
          </td>
        <% end %>
        </tr>
      </table>
    </div>
  </div>

  <br><br>


  <div class="ui cards">
    <%= render partial: 'game', collection: @games %>
  </div>


</div>



