  @import "bootstrap-sprockets";
  @import "bootstrap";

.center {
  text-align: center;
}

.large-pic {
  height: 30%; 
  width: 30%;
  overflow: "hidden";
}

.container {
}


.link-class {
  color: #000000;
}

.link-class:hover {
  color: #000000; 
  text-decoration: underline;  
}

.testing {
  width: "204px"; 
  height: "136px"; 
  overflow: "hidden";
}

.card {
  background-color: #F8F8F8; 
  width: 350px; 
  height: 250px; 
  margin: 2px; 
  padding: 2px; 
  text-align: center; 
}

.card-image {
  filter: gray;
  -webkit-filter: grayscale(1);
  align: center; 
}

.card-image:hover {
  filter: none;
  -webkit-filter: none;
  align: center; 
}

.voting-buttons {
  display: inline-block;
}


.navbar {
  font-size: 16px; 
  font-weight: bold; 
  padding-top: 5px; 
}


.fieldset {
  width: 550px;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  padding: 20px;
  text-align: right;
}

.legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-align: left;
  text-transform: lowercase;
}


.submit-button {
  border-radius: 5px;
  width: 400px;
  border: 1px solid; 
}

.submit-button:hover {
  background-color: #ff5c5c;
  color: #FFFFFF;  
}

.change-width {
  width: 75%
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}