.loginform {
  width: 50%;
}

.link-hover {
  font-color: teal;
}


.link {
  color: #515151;
}

.link:hover {
  color: #008080;
  text-decoration: none;
}

.add-new-games-link {
  color: #FFFFFF;
}

.add-new-games-link:hover {
  color: #FFFFFF;
}

.players-link:hover {
  color: #00B5AD;
  text-decoration: none;
}

.ui.cards > .card {
  margin: 1.5em 2.45em;
}

.sign-up-flag {
  color: #F2711C;
  font-size: 2.0em;
  margin-top: 15px;
  text-align: center;
}

.sign-up-flag a:link,
.sign-up-flag a:visited {
  color: #00B5AD;
}

.sign-up-flag a:hover {
  border-bottom: 4px solid #F2711C;
}

.item {
  font-size: 1.2em;
}
